* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
}
window#waybar {
  background-color: #1d2021;
  color: #e0cfa0;
  border-radius: 7px;
}
#workspaces button {
  margin: 3px 2px;
  padding: 0 7px;
  background-color: transparent;
  color: #a89984;
  border-radius: 6px;
}
#workspaces button.focused {
  color: #1d2021;
  background-color: #bcc44a;
}
#mode, #clock, #cpu, #memory, #network, #pulseaudio, #tray {
  padding: 0 10px;
}
#clock { color: #8ec0a8; }
#cpu { color: #9bcb72; }
#memory { color: #ecb142; }
#network { color: #bcc44a; }
#pulseaudio { color: #e08bab; }
#pulseaudio.muted { color: #a89984; }
